@import url("browser.css");
@import url("findbar.css");
@import url("icons.css");
@import url("menus.css");
@import url("navbar.css");
@import url("overwrites.css");
@import url("sidebar.css");
@import url("tabs.css");
@import url("urlbar.css");

/* configurations - DO NOT CHANGE ORDER */
@import url("defaults.css");
@import url("config.css");

* {
  font-family: var(--tf-font-family);
  font-size: var(--tf-font-size);
}

body {
  background-color: var(--tf-bg);
}

::placeholder {
  text-transform: var(--tf-text-transform);
}

/* Move bookmarks toolbar to bottom */
#navigator-toolbox {
  display: flex;
  flex-direction: column;
}

#PersonalToolbar {
  order: 100 !important;
  margin: 2px 8px 8px !important;
}

.tabbrowser-tab[selected="true"] {
  background-color: #484458 !important;
  border-radius: 4px !important;
}

.tab-background[selected="true"] {
  background-color: #484458 !important;
  box-shadow: inset 0 0 0 2px #cbbeff !important;
}

.tabbrowser-tab[selected="true"] .tab-label {
  color: #ffd9e5 !important;
  font-weight: bold !important;
}

.tabbrowser-tab[selected="true"] .tab-icon-image {
  opacity: 1 !important;
}
