@import url('colors.css');

:root {
    --border-color: @outline_variant;
    --border-color-active: @primary;
    --bg-color: @surface_container;
    --bg-color-hover: @surface_container_high;
    --border-radius: 12px;
    --border-size: 3px;
    --border-style: solid;
    --text-color: @on_surface;
    --window-padding: 2px;
}
.window {
}


.monitor {
}

.workspace {
}

.client {
}

.client-image {
}


.launcher {
}

.launcher-input {
}

.launcher-results {
}

.launcher-item {
}

.launcher-exec {
}

.launcher-key {
}

.launcher-plugins {
}

.launcher-plugin {
}