@import "colors.css";

* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(26, 18, 14, 0.9); /* @surface with transparency */
}

button {
    border-radius: 8px;
    border: 2px solid @primary;
    background-color: @surface_container;
    color: @on_surface;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 20px;
    min-width: 100px;
    min-height: 100px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: @surface_container_highest;
    border-color: @primary;
}

button:focus {
    background-color: @surface_container;
    border-color: @primary;
    color: @on_surface;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
    background-color: @surface_container;
}

#lock:hover {
    background-color: @surface_container_highest;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
    background-color: @surface_container;
}

#logout:hover {
    background-color: @surface_container_highest;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
    background-color: @surface_container;
}

#shutdown:hover {
    background-color: @surface_container_highest;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
    background-color: @surface_container;
}

#reboot:hover {
    background-color: @surface_container_highest;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
    background-color: @surface_container;
}

#suspend:hover {
    background-color: @surface_container_highest;
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
    background-color: @surface_container;
}

#hibernate:hover {
    background-color: @surface_container_highest;
}
