[Unit]
Description=Feishin RPC Service
After=network.target

[Service]
Type=simple
ExecStart=/home/kuroma/PyEnv/feishin/bin/feishin-rpc
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
