[Unit]
Description=Hyprshell
PartOf=graphical-session.target

[Service]
Type=simple
Environment="HYPRSHELL_NO_USE_PLUGIN=1"
ExecStart=/usr/bin/hyprshell run -vv
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
